<ul class="list-unstyled">
    <li><a href="https://twitter.com/gep13"><i class="fa fa-twitter"></i> Twitter (gep13)</a></li>
    <li><a href="https://github.com/gep13"><i class="fa fa-github"></i> GitHub (gep13)</a></li>
    <li><a href="https://keybase.io/gep13"><i class="fa fa-key"></i> Keybase (gep13)</a></li>
    <li><a href="http://stackoverflow.com/users/671491/gary-ewan-park"><i class="fa fa-stack-overflow"></i> Stack Overflow (gep13)</a></li>
    <li><a href="https://www.linkedin.com/in/gep13"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="http://flickr.com/photos/gep13/"><i class="fa fa-flickr"></i> Flickr (gep13)</a></li>
    <li><a href="http://www.goodreads.com/gep13"><i class="fa fa-book"></i> Goodreads (gep13)</a></li>
</ul>