{% if index %}
 	<div class="meta"> 
 		<div class="date">{% include post/date.html %}{{ time }}</div> 
 		<div class="tags">{% include post/categories.html %}</div> 
 		{% if site.disqus_short_name and site.disqus_show_comment_count == true %} 
 			<span class="comments"><a href="{{ root_url }}{{ post.url }}#disqus_thread">Comments</a></span> 
 		{% endif %} 
 	</div> 

	<h1 class="title" itemprop="name"><a href="{{ root_url }}{{ post.url }}" itemprop="url">{{ post.title | titlecase }}</a></h1>
	<div class="entry-content" itemprop="articleBody">
		{{ content | excerpt }}
		{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
		{% if excerpted == 'true' %}<a href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>{% endif %}
	</div>
{% else %}
  {% if page.featured %}
    <img src={{ page.featured }} class="featured" />
  {% endif %}
   	<div class="meta"> 
 		<div class="date">{% include post/date.html %}{{ time }}</div> 
 		<div class="tags">{% include post/categories.html %}</div> 
 		{% if site.disqus_short_name and site.disqus_show_comment_count == true %} 
 			<span class="comments"><a href="{{ root_url }}{{ post.url }}#disqus_thread">Comments</a></span> 
 		{% endif %} 
 	</div> 
	
	<h1 class="title" itemprop="name">{{ page.title | titlecase }}</h1>
	<div class="entry-content" itemprop="articleBody">{{ content }}</div>
{% endif %}
